In [54]:
import pandas as pd
import matplotlib as plt
import matplotlib as mpl
import numpy as py
#df = pd.read_csv(r'C:\Users\barba\OneDrive\Documents\Cancer.csv')

#print(df)

df = pd.read_excel(r'C:\Users\barba\OneDrive\Documents\Breast_Cancer\Data\Cancer_Data.xlsx')

#print(df)

df.head()

,STATE,ALL CASES,FEMALEBREAST,UTERINE CERVIX,COLON & RECTUM,UTERINE CORPUS,LEUKEMIA,LUNG & BRONCHUS,MELANOMA OF THE SKIN,NON-HODGKIN LYMPHOMA,PROSTATE,URINARY BLADDE
0,Alabama,30210,4280,240,2510,800,780,4280,1480,1000,4650,1140
1,Alaska,3250,530,b,320,100,90,380,100,120,460,160
2,Arizona,39970,6110,290,3150,1320,1090,4610,3110,1680,4940,1900
3,Arkansas,18610,2440,160,1530,570,520,2820,900,690,2510,710
4,California,189220,31720,1640,15970,7110,5630,17450,10260,8500,26890,7620

In [4]:
df.shape

NameError: name 'df' is not defined

In [1]:
df.isnull()

NameError: name 'df' is not defined

In [57]:
df.isnull().sum()

STATE                   0
ALL CASES               0
FEMALEBREAST            0
UTERINE CERVIX          0
COLON & RECTUM          0
UTERINE CORPUS          0
LEUKEMIA                0
LUNG & BRONCHUS         0
MELANOMA OF THE SKIN    0
NON-HODGKIN LYMPHOMA    0
PROSTATE                0
URINARY BLADDE          0
dtype: int64

In [2]:
df.isnull().sum().sum()

NameError: name 'df' is not defined

In [3]:
df2 = df.replace(to_replace='b ', value=0.0)
df2

NameError: name 'df' is not defined